@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============================
Global Styles
=============================== */

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Fonts */

.uppercase {
  text-transform: uppercase;
}

.txt-900 {
  font-weight: 900;
}
.txt-center {
  text-align: center;
}

/* Lists */

ul,
li {
  list-style: none;
}

/* Colours */

.txt-white {
  color: white;
}
.txt-dark {
  color: #1b1b1b;
}
.txt-fuschia {
  color: #e40e7f;
}
.bg-dark {
  background-color: #1b1b1b;
}
.bg-white {
  background-color: white;
}
.bg-fuschia {
  background-color: #e40e7f;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.border-left {
  border-left: 1px solid white;
}
.border-right {
  border-right: 1px solid white;
}
.hover-transition {
  transition: all 0.2s ease-in-out;
}
.hover-pink:hover {
  background-color: #e40e7f;
  color: #1b1b1b;
  font-weight: 700 !important;
}

/* Display */

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.block {
  display: block;
}
.rounded {
  border-radius: 20px;
}
.no-display {
  display: none;
}

/* Animations */

.blink {
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    background: #1b1b1b;
    color: white;
    font-weight: 400;
  }
  25% {
    background: #e40e7f;
    color: #1b1b1b;
    font-weight: 700;
  }
  50% {
    background: #1b1b1b;
    color: white;
    font-weight: 400;
  }
  75% {
    background: #e40e7f;
    color: #1b1b1b;
    font-weight: 700;
  }
}
.blink-alt {
  animation: blink-alt 2s infinite;
}
@keyframes blink-alt {
  0% {
    background: #e40e7f;
  }
  25% {
    background: #c8ff00;
  }
  50% {
    background: #e40e7f;
  }
  75% {
    background: #c8ff00;
  }
}

/* ============================
SupraNav
=============================== */
.supra-nav {
  align-items: center;
  margin: 15px;
}
.main-logo {
  width: min(35vw, 530px);
  padding-left: 30px;
}

.contact-info {
  padding: max(10px, 1vw);
  width: min(52%, 785px);
  justify-content: space-around;
}
.tagline {
}
.tagline h3 {
  font-size: min(3.8vw, 62px);
  line-height: min(60px, 4.5vw);
}
.tagline h4 {
  font-size: min(1.7vw, 27px);
}
.number {
  font-size: min(3.55vw, 56px);
  line-height: min(60px, 4.4vw);
}
.mail-link {
  font-size: min(1.8vw, 28px);
}

/* ============================
Main Nav
=============================== */

.main-nav-wrap {
  width: 100%;
  position: relative;
  z-index: 1000;
}
.main-nav {
  justify-content: center;
  width: min(100%, 1280px);
  margin: auto;
}
.main-nav-link {
  font-size: 18px;
  width: max(255px, 20%);
}
.main-nav-link a {
  padding: 10px 0;
}

/* ============================
Dropdown Nav
=============================== */
.dropdown-menu {
  position: absolute;
  top: 150px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, top 0.3s ease-out;
  width: min(255px, 20%);
  background-color: #1b1b1b;
}
.main-nav-link:hover {
  animation: blink 2s infinite;
}
.main-nav-link:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 45px;
}
.dropdown-link-wrap {
  width: 100% !important;
  border-bottom: 1px solid #e40e80;
  font-size: 15px;
}
.dropdown-link {
  padding: 10px 0;
  color: white;
  font-weight: initial !important;
  transition: all 0.4s ease-in-out;
}

/* ============================
Header
=============================== */

/* Subnav Msg */
#pink-banner-top,
#pink-banner-bottom {
  padding: 5px;
  border-top: 5px solid #1b1b1b;
  border-bottom: 5px solid #1b1b1b;
}
#pink-banner-top h1,
#pink-banner-bottom h1 {
  font-size: min(36px, 2.5vw);
  letter-spacing: 2px;
}
/* Subnav List */
#sub-nav-list {
  padding: 10px 0;
  border-bottom: 5px solid #1b1b1b;
  /*! border-top: 5px solid #1b1b1b; */
  justify-content: space-evenly;
  align-items: center;
}
#sub-nav-list li p {
  font-size: min(1.4vw, 20px);
  letter-spacing: 1px;
}
.pink-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #e40e7f;
}
/* Hero Image */
#hero-wrap {
  width: 100%;
  height: 34vw;
  background-image: url(assets/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
#hero-wrap img {
  display: block;
  margin: auto;
  position: relative;
  top: 18%;
  width: 30%;
}

/* ============================
Panel Styles Global
=============================== */
.panel {
  padding: 50px 75px;
}
.panel-heading.flex {
  align-items: center;
  width: min(100%, 1540px);
  margin: auto;
  justify-content: space-between;
}
.title {
  /* margin-right: 90px; */
  width: min(455px, 37%);
}
.h-underline {
  height: 5px;
  background: #e40e7f;
}
.subheading {
  font-size: min(1.7vw, 26px);
  width: 57%;
  line-height: 1.7;
  letter-spacing: 1px;
}
.p-underline {
  /* height: 5px; */
  background: #e40e7f;
  width: 91%;
  margin: 6px auto 40px auto;
}
.link-list-wrap {
  width: min(100%, 1540px);
  justify-content: space-between;
  /* align-items: center; */
  margin: auto;
}
.link-list {
  width: 30%;
}
.link-list li {
  align-items: center;
  margin: 10px 0;
}
img.check {
  width: min(2vw, 30px) !important;
  margin-right: 15px;
  display: block !important;
}
.link-list a {
  font-size: min(1.5vw, 25px);
}

/* ============================
Bad Credit
=============================== */
#bad-credit h2 {
  font-size: min(80px, 5.7vw);
}
#bad-credit h3 {
  margin-top: 5px;
  font-size: min(3vw, 42px);
  letter-spacing: 2px;
}

.link-list-wrap img {
  width: 15%;
  display: none;
}

/* ============================
Credit Meter
=============================== */

#credit-meter-wrap {
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.quote-wrap {
  width: min(20vw, 340px);
}
.quote {
  position: relative;
  padding: min(1.2vw, 30px);
  font-size: min(1.2vw, 20px);
  width: 100%;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
  border-radius: 20px;
  background: white;
  color: black;
  box-sizing: border-box;
}
#left-quote:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 75%;
  width: 0;
  height: 0;
  border: 2.5vw solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -2.3vw;
}
#right-quote:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  width: 0;
  height: 0;
  border: 3.1vw solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -2.4vw;
}
.speaker-img {
  width: 75%;
  margin: 30px auto;
  display: block;
}
#credit-meter-img {
  width: 45%;
}

/* ============================================================
Media Queries
============================================================= */

/* Nav */
@media (max-width: 1280px) {
  .main-nav-link {
    font-size: 15px;
  }
}
