@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============================
Global Styles
=============================== */

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif !important;
}

.uppercase {
  text-transform: uppercase;
}

.txt-900 {
  font-weight: 900;
}
.txt-center {
  text-align: center;
}
.left-column p {
  margin: 20px 0;
  line-height: 1.3;
  text-align: justify;
  /* font-size: 15px; */
}

/* Lists */

ul,
li {
  list-style: none;
}

/* Colours */

.txt-white {
  color: white;
}
.txt-dark {
  color: #1b1b1b;
}
.txt-fuschia {
  color: #e40e7f;
}
.bg-dark {
  background-color: #1b1b1b;
}
.bg-white {
  background-color: white;
}
.bg-fuschia {
  background-color: #e40e7f;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.border-left {
  border-left: 1px solid white;
}
.border-right {
  border-right: 1px solid white;
}
.hover-transition {
  transition: all 0.2s ease-in-out;
}
.hover-pink:hover {
  background-color: #e40e7f;
  color: #1b1b1b;
  font-weight: 700 !important;
}

/* Display */

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.block {
  display: block;
}
.rounded {
  border-radius: 20px;
}
.no-display {
  display: none;
}
.left-column {
  width: 65%;
  padding: min(3vw, 50px);
  box-sizing: border-box;
  border-radius: 30px;
}
.right-column {
  width: 26%;
  outline: white solid 10px;
  border-radius: 1.5vw;
  position: relative;
}

/* Animations */

.blink {
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    background: #1b1b1b;
    color: white;
    font-weight: 400;
  }
  25% {
    background: #e40e7f;
    color: #1b1b1b;
    font-weight: 700;
  }
  50% {
    background: #1b1b1b;
    color: white;
    font-weight: 400;
  }
  75% {
    background: #e40e7f;
    color: #1b1b1b;
    font-weight: 700;
  }
}
.blink-alt {
  animation: blink-alt 2s infinite;
}
@keyframes blink-alt {
  0% {
    background: #e40e7f;
  }
  25% {
    background: #ffffff;
  }
  50% {
    background: #e40e7f;
  }
  75% {
    background: #ffffff;
  }
}

/* ============================
SupraNav
=============================== */
.supra-nav {
  align-items: center;
  margin: 15px;
}
.main-logo {
  width: min(35vw, 530px);
  padding-left: 30px;
}

.contact-info {
  padding: max(10px, 1vw);
  width: min(52%, 785px);
  justify-content: space-around;
}
.tagline h3 {
  font-size: min(3.8vw, 62px);
  line-height: min(60px, 4.5vw);
}
.tagline h4 {
  font-size: min(1.7vw, 27px);
}
.number {
  font-size: min(3.55vw, 56px);
  line-height: min(60px, 4.4vw);
}
.mail-link {
  font-size: min(1.8vw, 28px);
  text-transform: lowercase;
}

/* ============================
Main Nav
=============================== */

.main-nav-wrap {
  width: 100%;
  position: relative;
  z-index: 1000;
}
.main-nav {
  justify-content: center;
  width: min(100%, 1280px);
  margin: auto;
}
.main-nav-link {
  font-size: 18px;
  width: max(255px, 20%);
  transition: all 0.2s ease;
}
.main-nav-link a {
  padding: 10px 0;
}

/* ============================
Dropdown Nav
=============================== */
.dropdown-menu {
  position: absolute;
  top: 150px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, top 0.3s ease-out;
  width: min(255px, 20%);
  background-color: #1b1b1b;
}
.main-nav-link:hover {
  /* animation: blink 2s infinite; */
  background: #e40e7f;
  color: #1b1b1b;
  font-weight: 700;
}
.main-nav-link:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 45px;
}
.dropdown-link-wrap {
  width: 100% !important;
  border-bottom: 1px solid #e40e80;
  font-size: 15px;
}
.dropdown-link {
  padding: 10px 0;
  color: white;
  font-weight: initial !important;
  transition: all 0.4s ease-in-out;
}

/* ============================
Mobile Nav
================================ */

#menuBtn {
  display: none;
}

.supra-nav .menu-label {
  display: none;
  padding: 19px 20px;
  position: relative;
  float: right;
  right: 10px;
  cursor: pointer;
}
.supra-nav .menu-label .label-icon {
  background: #1b1b1b;
  display: block;
  height: 3px;
  width: 22px;
  position: relative;
  transition: all 0.3s ease-out;
}
.supra-nav .menu-label .label-icon:before {
  background: #1b1b1b;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 7px;
  transition: all 0.3s ease-out;
}
.supra-nav .menu-label .label-icon:after {
  background: #1b1b1b;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -7px;
  transition: all 0.3s ease-out;
}
.supra-nav .menuBtn:checked ~ .menu-label .label-icon {
  background: transparent;
}
.supra-nav .menuBtn:checked ~ .menu-label .label-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.supra-nav .menuBtn:checked ~ .menu-label .label-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* ============================
Header
=============================== */

/* Subnav Msg */
#pink-banner-top,
#pink-banner-bottom {
  padding: 5px;
  border-top: 5px solid #1b1b1b;
  border-bottom: 5px solid #1b1b1b;
}
#pink-banner-top h1,
#pink-banner-bottom h1 {
  font-size: min(36px, 2.5vw);
  letter-spacing: 2px;
}
/* Subnav List */
#sub-nav-list {
  padding: 10px 0;
  border-bottom: 5px solid #1b1b1b;
  /*! border-top: 5px solid #1b1b1b; */
  justify-content: space-evenly;
  align-items: center;
}
#sub-nav-list li p {
  font-size: min(1.4vw, 20px);
  letter-spacing: 1px;
}
.pink-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #e40e7f;
}
/* Hero Image */
#hero-wrap {
  width: 100%;
  height: 34vw;
  background-image: url(assets/header-bg.jpg);
  background-position: center;
  background-size: cover;
}
#bc-hero-wrap {
  width: 100%;
  height: 34vw;
  background-image: url(assets/mortgage-application.jpg);
  background-position: top;
  background-size: cover;
}
#mortgages-hero-wrap {
  width: 100%;
  height: 34vw;
  background-image: url(assets/handing-over-keys.jpg);
  background-position: center;
  background-size: cover;
}
#protection-hero-wrap {
  width: 100%;
  height: 34vw;
  background-image: url(assets/protection.jpg);
  background-position: center;
  background-size: cover;
}
#hero-wrap img {
  display: block;
  margin: auto;
  position: relative;
  top: 18%;
  width: 30%;
}

/* ============================
Panel Styles Global
=============================== */
.panel {
  padding: 50px 75px;
}
.panel-heading.flex {
  align-items: center;
  width: min(100%, 1540px);
  margin: auto;
  justify-content: space-between;
}
.title {
  /* margin-right: 90px; */
  width: min(455px, 37%);
}
.h-underline {
  height: 5px;
  background: #e40e7f;
}
.subheading {
  font-size: min(1.7vw, 26px);
  width: 57%;
  line-height: 1.7;
  letter-spacing: 1px;
}
.p-underline {
  /* height: 5px; */
  background: #e40e7f;
  width: 91%;
  margin: 6px auto 40px auto;
}
.link-list-wrap {
  width: min(100%, 1540px);
  justify-content: space-between;
  /* align-items: center; */
  margin: auto;
}
.link-list {
  width: 30%;
}
.link-list li {
  align-items: center;
  margin: 10px 0;
}

img.check {
  width: min(2vw, 30px) !important;
  margin-right: 15px;
  display: block !important;
}
.link-list a {
  font-size: min(1.5vw, 25px);
  transition: all 0.2s ease-out;
}
.link-list li a:hover {
  /* transform: scale(1.1); */
  /* transform-origin: left; */
  color: #e40e7f;
}

/* ============================
Bad Credit
=============================== */
#bad-credit h2 {
  font-size: min(73px, 5.2vw);
}
#bad-credit h3 {
  margin-top: 5px;
  font-size: min(2.7vw, 39px);
  letter-spacing: 2px;
}

.link-list-wrap img {
  width: 15%;
  display: none;
}

/* ============================
Credit Meter
=============================== */

#credit-meter-wrap {
  justify-content: space-between;
  align-items: end;
  position: relative;
}
.quote-wrap {
  width: min(20vw, 340px);
}
.quote {
  position: relative;
  padding: min(1.2vw, 30px);
  font-size: min(1.2vw, 20px);
  width: 100%;
  text-align: center;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
  border-radius: 20px;
  background: white;
  color: black;
  box-sizing: border-box;
}
#left-quote:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 75%;
  width: 0;
  height: 0;
  border: 2.5vw solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -2.3vw;
}
#right-quote:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  width: 0;
  height: 0;
  border: 3.1vw solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -2.4vw;
}
.speaker-img {
  width: 75%;
  margin: 30px auto;
  display: block;
}
#credit-meter-img {
  width: 45%;
}

/* ============================
SpecialistsIn Our Field
=============================== */

/* Left Panel */
#specialists {
  justify-content: space-evenly;
  align-items: stretch;
  /* padding: 75px 0; */
  border: solid #1b1b1b 50px;
}
#logo {
  width: 60%;
}
#specialists-left h2 {
  font-size: 3.4vw;
  margin-top: max(1vw, 20px);
}
#specialists-left h3 {
  margin-top: min(20px, 1.5vw);
  font-size: 1.6vw;
}
#specialists-number {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 0;
  margin-top: 2vw;
}
#specialists-number h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 900;
}
#specialists-number a {
  margin-left: 10px;
}

/* Right Panel */

#refused {
  padding: 1.5vw 0;
  box-sizing: border-box;
}
#refused h2 {
  font-size: 2.1vw;
  font-weight: 900;
}
#refused h2 span {
  font-size: 4.5vw;
  font-weight: 900;
}
#call-us {
  padding: 1vw 0;
}
#call-us h3 {
  font-size: 4.5vw;
  font-weight: 900;
  line-height: 1;
}
#call-us h4 {
  font-weight: 900;
  font-size: 2vw;
}
#if-we-cant {
  padding: 2vw 0;
}
#if-we-cant h2 {
  font-size: 3.1vw;
  font-weight: 900;
  line-height: 1;
}
#funding {
  font-size: 4.5vw;
}
#nobody {
  font-size: 2.9vw;
}
#free {
  padding: 1vw 0;
}
#free h4 {
  font-size: 2vw;
}
#lines-open {
  margin: 2vw 0;
}
#lines-open h5 {
  color: white;
  font-size: 2vw;
}
#lines-open a.number {
  font-size: 2.9vw;
}
#lines-open a.mail-link {
  font-size: 1.45vw;
}
.right-column img {
  display: none;
  margin: auto;
}

/* ============================
Mortgages
=============================== */

#mortgages {
  border: solid #1b1b1b 50px;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0;
}

/* Left Panel Made Simple */

#mortgage-left-wrap {
  padding: 0 !important;
  box-sizing: initial;
}

#made-simple {
  color: white;
  padding: min(3vw, 50px);
  border-radius: 30px;
}
#made-simple .title {
  width: fit-content;
  display: inline-block;
}
#made-simple .title h2 {
  font-size: min(4.5vw, 61px);
}
#made-simple .title h3 {
  font-size: min(3vw, 40px);
  letter-spacing: 4px;
}
#mortgages-subheading {
  width: 100% !important;
  font-size: min(2.5vw, 31px);
  text-align: left;
}
#made-simple .link-list {
  width: 40%;
}

/* Left Panel Calculator */

#calculator-wrap {
  /* border: solid #1b1b1b 10px; */
  border-radius: 30px;
  padding: min(3vw, 60px);
  width: 100%;
  margin-top: min(2.5vw, 50px);
  box-sizing: border-box;
  background: #494949;
}

#calculator-wrap form {
  background: #f1f1f1;
  padding: min(2.5vw, 50px);
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: min(2vw, 50px);
}
#calculator-wrap h1 {
  font-size: min(3.25vw, 50px);
}

#calculator-wrap label {
  display: block;
  margin: 10px 0;
  font-size: min(20px, 1.3vw);
  font-weight: 900;
}

label#prop-value {
  float: left;
  margin-right: 30px;
}
#propertyValue {
  font-size: 20px;
  padding: 10px;
}
#mortgage-type {
  display: flex;
  padding: min(1vw, 20px);
  border-radius: 20px;
  margin-top: min(1.5vw, 30px);
  border: grey solid;
  width: fit-content;
}
#mortgage-type label {
  margin-right: 1vw;
}
.radio-button {
  display: flex;
  align-items: center;
  /* float: left; */
  margin-right: 50px;
}
.radio-button label {
  font-weight: 400 !important;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #d5d5d5;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-right: 20px;
}

input[type="radio"]:checked {
  background-color: #e40e7f;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* display: block; */
  width: 80%;
  height: 8px;
  background-color: #d5d5d5;
  border-radius: 8px;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 8px;
}
input[type="range"]::-moz-track {
  -moz-appearance: none;
  height: 8px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 8px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #e40e7f;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #e40e7f;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #e40e7f;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  border: none;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #e40e7f;
}

output {
  display: inline-block;
  width: min(6vw, 130px);
  text-align: center;
  font-weight: bold;
  font-size: min(1.2vw, 20px);
  background: #e40e7f;
  padding: 10px 5px;
  color: white;
  border-radius: 10px;
  margin-left: 30px;
}

button {
  width: 200px;
  height: 40px;
  font-size: 18px;
  background-color: #e40e7f;
  border: none;
  border-radius: 5px;
  color: white;
}

.result {
  font-size: min(1.5vw, 31px);
  /* font-weight: bold; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result span {
  background: #e40e7f;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}

/* Right Column Submit Enquiry */

#submit-enquiry .submit-title {
  background: #6d6d6d;
  color: white;
  padding: 0.5vw;
  width: 70%;
  margin: auto;
  border-radius: 1vw;
  border: 8px solid white;
  position: relative;
  z-index: 5;
  top: -1.75vw;
  font-size: 2vw;
}

.free-rep h5 {
  font-size: 2.5vw;
  line-height: 1;
  font-weight: 900;
}
.free-rep h5 span {
  padding-bottom: 5px;
  border-bottom: #e40e7f 8px solid;
  width: fit-content;
  margin: auto;
  display: inline-block;
  font-weight: 900;
}
.free-rep h2 {
  font-size: 3.5vw;
}
.free-rep h4 {
  font-size: 3vw;
  background: #e40e7f;
  width: fit-content;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
  padding: 0 10px;
}

.fast-track {
  background: #e40e7f;
  width: 80%;
  margin: 40px auto 20px auto;
  padding: min(1vw, 20px);
  border-radius: 1vw;
}
.fast-track h5 {
  font-size: 1.7vw;
}
.fast-track h6 {
  font-size: 1.8vw;
}
.fast-track h2 {
  font-size: 2.8vw;
  background: #1b1b1b;
  border-radius: 10px;
  padding: 0 10px;
}
.fast-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
}
.fast-flex .box {
  background: #1b1b1b;
  padding: 0.25vw 0.5vw;
  border-radius: 5px;
  line-height: 1;
}
.fast-flex .box h2 {
  font-size: 2.75vw;
}
.fast-flex .box h6 {
  font-size: 1.2vw;
}
.fast-flex .box h6 span {
  font-size: 0.9vw;
}
.fast-flex .response h5 {
  font-size: 1.5vw;
  line-height: 1;
}
.fast-flex .response h5 .one {
  font-size: 1.6vw;
}
.fast-flex .response h5 .two {
  font-size: 1.6vw;
  letter-spacing: 0.25vw;
}
#contact {
  text-align: left;
  width: 85%;
  margin: auto;
  display: inline-block;
}
#contact label {
  padding: 10px 0;
}
#contact input {
  width: 100%;
  margin: 10px 0 20px 0;
  height: 40px;
}
#contact textarea {
  width: 100%;
  height: 200px;
}

/* ============================
Simply Call & Guarantee Banner
=============================== */

/* Gurantee Banner */
#guarantee {
  background-image: url(assets/houses.jpg);
  background-size: cover;
  padding: 7vw 0;
  background-position: right;
}
#guarantee h2 {
  font-size: min(50px, 4vw);
}
#guarantee h3 {
  font-size: min(5vw, 70px);
  margin: 3vw 0;
}
#guarantee h3 span {
  background: white;
  padding: 0 10px;
  border-radius: 0.5vw;
  font-weight: 900;
}
#guarantee p {
  font-size: min(1.8vw, 34px);
  width: 75%;
  margin: auto;
  line-height: 1.5;
  font-weight: 500;
}
#simply-call {
  width: fit-content;
  margin: 2vw auto;
  text-align: center;
  border-radius: 1vw;
  padding: 30px;
}
#simply-call h3 {
  font-size: min(2vw, 40px) !important;
  margin: 0 !important;
}
#simply-call h2 {
  font-size: 5.5vw !important;
}
#simply-call h5 {
  font-size: min(2.4vw, 30px) !important;
  width: fit-content;
  margin: auto;
  padding: 0 20px;
}

/* ============================
Protection & Insurance
=============================== */

#protection {
  border: solid #1b1b1b 50px;
}

#protection .title {
  width: fit-content;
}

#protection .title h2 {
  font-size: min(70px, 4.25vw);
}

#protection .title h3 {
  font-size: min(50px, 3.25vw);
  letter-spacing: 8px;
}

#heading {
  align-items: flex-end;
  justify-content: space-between;
}

#protection-subheading {
  font-size: min(3vw, 40px) !important;
  width: fit-content;
}

img#signing-form {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  margin: 3vw 0;
}

#three-boxes {
  margin-top: 1vw;
  display: flex;
  justify-content: space-evenly;
}

.box {
  font-size: 1.5vw;
  width: 15vw;
  border: #e40e7f 3px solid;
  text-align: center;
  padding: 0.5vw;
}
#protection p {
  font-size: min(1.7vw, 30px);
}

#protection .link-list-wrap {
  margin-top: 2vw;
  justify-content: space-between;
  width: 100%;
}
#protection .link-list a {
  font-size: min(25px, 1.25vw);
}

/* Call Free */
section#call-free {
  width: 100%;
  justify-content: start;
  align-items: baseline;
  border: white 0.75vw solid;
  border-radius: 1.5vw;
  position: relative;
  padding: 2vw;
  box-sizing: border-box;
  margin-top: 8vw;
  background: #e40e7f;
}

#call-free img {
  position: absolute;
  bottom: 0;
  right: 4vw;
  width: 25%;
}

#number h3 {
  font-size: 3vw;
  color: #1b1b1b;
  letter-spacing: 2px;
}

#number a {
  font-size: 7vw;
  height: auto;
  line-height: 1;
  color: white;
  letter-spacing: 4px;
}

div#number {
  position: relative;
  left: 3vw;
}

/* ============================
About Us
=============================== */

article#about-us {
  background: #494949;
  text-align: center;
}

#about-us .title {
  width: fit-content;
  text-align: center;
  margin: 3vw auto;
  color: white;
}

#about-us .title h2 {
  font-size: min(6vw, 90px);
}

p#one {
  font-size: min(60px, 4vw);
}

#three-points {
  margin: 3vw 0;
}

.point {
  margin: 2vw auto;
  width: fit-content;
}

p#two {
  font-size: min(2.7vw, 40px);
  font-style: italic;
}

p#three {
  font-size: min(2.5vw, 36px);
  width: 70%;
  margin: auto;
  font-weight: 300;
}
#about-us .write-up {
  justify-content: space-evenly;
  width: min(100%, 1330px);
  margin: 4vw auto;
}

#about-us .write-up p {
  text-align: justify;
  width: 40%;
  line-height: 1.5;
  font-size: min(1.3vw, 20px);
  letter-spacing: 1px;
}

/* ============================
Contact Us
=============================== */

#contact-us-wrap .inner {
  width: min(90%, 1430px);
  margin: 3vw auto;
}

#contact-us-wrap .inner h4 {
  text-align: right;
  font-size: min(3.3vw, 60px);
  letter-spacing: 0.15vw;
  margin-bottom: 1vw;
}

div#contact-us-inner-flex {
  align-items: baseline;
  border: white 0.75vw solid;
  border-radius: 1.5vw;
  position: relative;
}

#contact-us-inner-flex img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
}

div#contact-info {
  position: relative;
  left: 33vw;
  margin: 2vw 0;
}

#contact-info h2 {
  font-size: min(6.1vw, 100px);
  /* letter-spacing: 4px; */
}

#contact-info .number {
  font-size: min(5vw, 79px);
  letter-spacing: 0.5vw;
  padding: 0 0.25vw;
}

#contact-info .mail-link {
  font-size: min(2.75vw, 45px);
  letter-spacing: 0.1vw;
  padding: 0 0.5vw;
  margin-top: 1vw;
}

#contact-us-wrap .inner h5 {
  text-align: center;
  margin-top: 1vw;
  font-size: min(3vw, 50px);
  letter-spacing: 0.1vw;
}

/* ============================
Write-Up Pages
=============================== */

ul.contents {
  width: 280px;
  /* margin: 50px auto; */
  /* top: 57vw; */
  right: 3vw;
  position: absolute;
}

.write-up-wrap .title {
  width: fit-content;
  /* margin: auto; */
  /* position: relative; */
  /* right: 14vw; */
}

.write-up-wrap .title h2 {
  font-size: min(5vw, 80px);
}

.contents-heading {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 20px !important;
  color: white !important;
}

.contents li {
  margin: 5px;
  color: #e40e7f;
}

section.intro {
  margin-bottom: 20px;
  font-size: 22px;
  border: none !important;
  width: 75%;
  position: relative;
  /* left: 16vw; */
  margin-top: 0 !important;
  background: #1b1b1b !important;
  color: white !important;
  padding: 30px 0 !important;
}

.intro p {
  font-size: min(1.6vw, 26px) !important;
  line-height: 1.5 !important;
}

.main-content p {
  /* margin: 20px; */
  /* line-height: 1.5; */
}

.main-content section {
  padding: 30px 50px;
  border: white 10px solid;
  border-radius: 1.5vw;
  margin: 4vw 0;
  color: #1b1b1b;
  background: white;
  width: 65%;
}

.main-content section h2 {
  color: #e40e7f;
  font-size: min(3vw, 50px);
  font-weight: 900;
}

.main-content section p {
  font-size: min(1.25vw, 18px);
  line-height: 1.3;
  text-align: justify;
  margin: 20px 0;
}

/* ============================
Footer
=============================== */

footer.flex.bg-fuschia.panel {
  justify-content: space-evenly;
  padding: 7vw 0 !important;
}

.footer-contact {
  width: min(25vw, 388px);
}

.legal {
  width: 20%;
  text-align: justify;
}
footer h6 {
  font-size: min(1.4vw, 20px);
  margin-bottom: 10px;
}

footer .address {
  width: 250px;
}

footer p {
  font-size: 1.1vw;
  line-height: 1.3;
}

footer .sitemap a {
  font-size: min(1.3vw, 16px);
  margin-bottom: 5px;
}

/* ============================================================
Media Queries
============================================================= */

/* Nav */
@media (max-width: 1700px) {
  .right-column img {
    display: block;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
  }
}

@media (max-width: 1600px) {
  .right-column img {
    width: 62%;
    left: 20%;
  }
  #protection {
    border: none;
  }
}
@media (max-width: 1400px) {
  .right-column img {
    width: 85%;
    left: 12%;
  }
}
@media (max-width: 1315px) {
  .right-column img {
    width: 100%;
    left: 6%;
  }
}

@media (max-width: 1280px) {
  .main-nav-link {
    font-size: 15px;
  }
}

@media (max-width: 1050px) {
  .supra-nav {
    margin: 5px;
  }
  .supra-nav .menu-label {
    display: block;
  }
  .main-logo {
    width: 150px;
    padding-left: 7px;
  }
  .contact-info {
    display: none;
  }
  .main-nav-wrap {
    justify-content: flex-start;
    padding: 0;
    background-color: #1b1b1b;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }
  #menuBtn:checked ~ .main-nav-wrap {
    max-height: 1000px;
  }
  .main-nav {
    display: initial !important;
    width: 100%;
  }
  .main-nav-link {
    width: 100%;
    border-left: none !important;
  }
  .main-nav-link:hover > .dropdown-menu {
    pointer-events: initial;
  }
  .dropdown-menu {
    position: initial;
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0;
    background-color: #262626;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
  }
  .main-nav-link label {
    display: block;
    padding: 10px 0;
  }
  .top-link {
    display: none;
  }
  .main-nav-link input:checked ~ .dropdown-menu {
    max-height: 1000px;
  }
}
